@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-6">
        <h2>Bio</h2>
        <p>
            My name is Nkateko Maluleke. I was born in the town of Giyani in Limpopo, but I grew up in
            Soweto, Johannesburg. My father worked in a bank as a technician, so he was very familier
            with computers. He introduced me to a computer at the age of 4, and I have never parted
            ways with a computer ever since then.

            I am on second year level studying Bcom Informatics in the University of Pretoria.
            I chose to study a computer related degree out of passion. I love computers, and I love programming.
            I hope to obtain my degree and make an impact on the computer and information industry.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Nkateko</h2>
        <p img.src="/Content/images/nkateko.jpg"></p>
    </div>
</div>

